<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- locals is the object passed in using express so its better to use since variable can be undefined -->
    Hello <%= locals.text %>
  </body>
</html>
